:root {
  --blue: #4a9baf;
  --orange: #f56d00;
  --yellow: #ffdf8e;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  font-family: obviously, sans-serif;
}

.section.hero {
  color: #fafafa;
  background-image: url('../images/Awaken-Indiana-bg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100svh;
  display: flex;
  position: relative;
}

.section.photo-bg {
  background-image: url('../images/Awaken-Indiana-bg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section.dark {
  background-color: var(--blue);
}

.section.dark.two {
  background-color: var(--orange);
}

.grained {
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  inset: 0;
}

.grain-js {
  display: none;
}

.div-block {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4em;
  display: flex;
  position: relative;
}

.title {
  pointer-events: none;
  color: var(--orange);
  margin-top: 0;
  margin-bottom: 0;
  font-family: obviously-condensed, sans-serif;
  font-size: 20em;
  line-height: .8;
  position: relative;
  top: -26px;
}

.title.white {
  color: #fafafa;
}

.title.small {
  color: #fafafa;
  font-size: 68px;
}

.heading {
  z-index: 1;
  color: var(--yellow);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading.blue {
  color: #ffdf8e;
}

.div-block-2 {
  z-index: 1;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #fafafa;
  justify-content: center;
  align-items: center;
  width: 16rem;
  text-decoration: none;
  transition: opacity .2s;
  display: flex;
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translate(-50%);
}

.div-block-2:hover {
  opacity: .7;
}

.paragraph {
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  top: 2px;
}

.div-block-3 {
  position: relative;
  top: 23px;
}

.button {
  color: var(--orange);
  text-transform: uppercase;
  background-color: #fafafa;
  border-radius: 6px;
  font-family: obviously-wide, sans-serif;
  font-weight: 400;
}

.button:hover {
  background-color: var(--yellow);
}

.btn-stop-motion {
  pointer-events: auto;
  color: #fafafa;
  cursor: pointer;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: .75em 1em;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  transform: rotate(-1deg);
}

.btn-stop-motion:hover {
  color: var(--yellow);
  text-decoration: none;
}

.btn-stop-motion.dark {
  color: var(--orange);
}

.btn-stop-motion.dark:hover {
  color: var(--blue);
}

.btn-stop-motion.dark.right {
  transform: rotate(1deg);
}

.btn-stop-motion__inner {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.btn-stop-motion__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.btn-stop-motion__back-svg {
  width: 300%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-stop-motion__icon {
  color: #ffe224;
  flex-shrink: 0;
  width: 1.5em;
  margin-left: -.25em;
  margin-right: -.25em;
  position: relative;
  overflow: hidden;
}

.before__100 {
  padding-top: 100%;
}

.btn-stop-motion__icon-svg {
  width: auto;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-stop-motion__p {
  color: var(--orange);
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 0;
  font-family: obviously-wide, sans-serif;
  font-size: 1em;
  font-weight: 400;
  position: relative;
}

.btn-stop-motion__p.dark, .path {
  color: #fafafa;
}

.paragraph-2 {
  color: #fafafa;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
}

.paragraph-2.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--orange);
  text-decoration-color: var(--orange);
}

.paragraph-2.padding-top {
  margin-top: 20px;
}

.countdown {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  border: 1px solid var(--orange);
  color: #fafafa;
  background-color: #f56d00cc;
  border-radius: 8px;
  flex-flow: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 4px 1em 6px;
  display: flex;
  position: absolute;
  bottom: 2em;
}

.paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6 {
  margin-bottom: 0;
}

.button-css, .countdown-js {
  display: none;
}

.container {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 65rem;
  padding: 4em 2em;
  display: flex;
}

.container.wide {
  max-width: 85rem;
  padding-left: 4em;
  padding-right: 4em;
}

.container.white {
  color: #fafafa;
}

.heading-2 {
  color: var(--blue);
  text-align: center;
  text-transform: uppercase;
  font-family: obviously-wide, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
}

.heading-2.left {
  text-align: left;
  margin-top: 0;
  margin-bottom: 1em;
}

.heading-2.left.orange {
  color: var(--orange);
}

.heading-2.left.orange.white {
  color: #fff;
}

.heading-2.left.orange.white.no-margin-bottom {
  margin-bottom: .25em;
}

.heading-2.left.yellow {
  color: var(--yellow);
  margin-bottom: 0;
}

.text-span {
  color: var(--orange);
}

.bunny-player__before {
  padding-top: 56.25%;
}

.bunny-player__placeholder {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.bunny-player__video {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  padding-right: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.bunny-player__playpause {
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.bunny-player {
  pointer-events: none;
  color: #fff;
  isolation: isolate;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translateX(0);
}

.bunny-player__pause-svg {
  display: none;
}

.bunny-player__big-btn {
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  cursor: pointer;
  background-color: #6464644d;
  border: 1px solid #ffffff1a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 9em;
  padding: 2.75em;
  display: flex;
  position: relative;
}

.bunny-player__loading-svg {
  width: 6em;
}

.bunny-player__dark {
  opacity: .1;
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
}

.bunny-player__loading {
  opacity: 0;
  visibility: hidden;
  background-color: #00000054;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.bunny-css, .bunny-js {
  display: none;
}

.loading__numbers {
  color: var(--orange);
  flex-flow: row;
  align-items: flex-start;
  font-size: calc(10vw + 10vh);
  display: flex;
  position: absolute;
  bottom: .1em;
  left: .23em;
}

.loading__progress {
  width: 1em;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.loading-screen {
  background-color: var(--yellow);
  pointer-events: auto;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.loading__number {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  position: relative;
}

.loading__number-group {
  flex-flow: column;
  height: 1em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.loading__number-wrap {
  will-change: transform;
  flex-flow: column;
  display: flex;
  position: relative;
}

.loading__percentage {
  text-transform: uppercase;
  will-change: transform;
  font-weight: 700;
  line-height: 1;
  position: relative;
}

.loading__percentage-wrap {
  flex-flow: column;
  justify-content: flex-start;
  margin-top: .375em;
  font-size: .3em;
  display: flex;
  overflow: hidden;
}

.loading__progress-inner {
  background-color: var(--orange);
  transform-origin: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loading-container {
  z-index: 200;
  pointer-events: none;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.scripts, .loader-js, .loader-css {
  display: none;
}

.accordion-css__item-bottom {
  grid-template-rows: 0fr;
  display: grid;
  position: relative;
  overflow: hidden;
}

.accordion-css__item-bottom-content {
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.accordion-css__list {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: static;
}

.accordion-css__item-bottom-wrap {
  flex-flow: column;
  height: 100000%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.accordion-css__item-icon-svg {
  width: 1em;
}

.accordion-css__item-icon {
  background-color: var(--yellow);
  color: var(--orange);
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  display: flex;
  transform: rotate(180deg);
}

.accordion-css__item-top {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 1em 1.5em;
  display: flex;
}

.accordion-css {
  padding-left: 4em;
  padding-right: 4em;
  position: relative;
}

.accordion-css.second {
  padding-left: 0;
  padding-right: 0;
}

.accordion-css__item {
  background-color: #efeeec;
  border-radius: .5em;
  list-style: none;
}

.accordion-css__item-h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.3;
}

.accordion-css__item-p {
  color: #2c2c2c;
  margin-bottom: 0;
  font-size: .875em;
  line-height: 1.5;
}

.accordion-js {
  display: none;
}

.div-block-4 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  display: flex;
}

.heading-2-copy {
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-family: obviously-wide, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
}

.text-span-2 {
  color: var(--orange);
}

.div-block-5 {
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  display: flex;
}

.div-block-5.down {
  flex-flow: column;
}

.div-block-6 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 40%;
  display: flex;
}

.div-block-6._100 {
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.link-block {
  text-decoration: none;
}

.link-block.w--current {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.div-block-7 {
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.div-block-8 {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.div-block-8.left {
  justify-content: center;
  align-items: flex-start;
}

.link {
  color: #fafafa;
}

.link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--yellow);
  text-decoration-color: var(--yellow);
}

.demo-card__before {
  pointer-events: none;
  padding-top: 100%;
}

.demo-card__name {
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.demo-badge__img {
  width: 100%;
}

.demo-badge__wrap {
  z-index: 5;
  border-radius: 50%;
  width: 16em;
  position: absolute;
  top: 25%;
  right: 0%;
  transform: translate(50%, -50%);
}

.demo-card__h3 {
  margin-top: 0;
  margin-bottom: .0625em;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1;
}

.section-resource__item {
  width: calc(25% - .25px - .75em);
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: ease;
  position: relative;
}

.section-resource__item:hover {
  opacity: .65;
}

.demo-card__job-title-p {
  opacity: .67;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
}

.demo-card__content {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: #000;
  background-color: #fff;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.demo-card__check-svg {
  width: 1.5em;
}

.demo-card__wrap {
  width: 100%;
  position: relative;
}

.demo-card__image {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.demo-badge {
  border-radius: 50%;
  width: 50%;
  margin: 25%;
  position: relative;
  overflow: hidden;
}

.section-resource__list {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: wrap;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  display: flex;
}

.section-resource {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.demo-card {
  color: #fff;
  border-radius: 1em;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section-resource__collection {
  flex: 1;
  justify-content: center;
  max-width: 80em;
  padding-left: 0;
  padding-right: 0;
}

.demo-card__job-title-pa {
  opacity: .67;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
}

.image {
  width: 35%;
}

.div-block-9, .div-block-10 {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-flow: column;
  display: flex;
}

@media screen and (max-width: 991px) {
  .section.hero {
    height: 100svh;
  }

  .heading-2 {
    font-size: 38px;
    line-height: 42px;
  }

  .div-block-5 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .div-block-6 {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .section-resource__item {
    width: calc(50% - .5px - 1em);
  }
}

@media screen and (max-width: 767px) {
  .section.photo-bg {
    background-image: linear-gradient(#0000005e, #0000005e), url('../images/Awaken-Indiana-bg.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }

  .title {
    font-size: 14em;
    top: -20px;
  }

  .title.small {
    font-size: 38px;
  }

  .heading {
    font-size: 42px;
    line-height: 1;
  }

  .btn-stop-motion {
    font-size: .7em;
  }

  .countdown {
    justify-content: center;
  }

  .container.wide {
    padding: 0 2em;
  }

  .heading-2 {
    margin-bottom: 0;
    font-size: 28px;
    line-height: 32px;
  }

  .bunny-player__big-btn {
    width: 20vw;
    height: 20vw;
    padding: 6vw;
  }

  .accordion-css {
    padding-left: 2em;
    padding-right: 2em;
  }

  .link-block.w--current {
    text-align: center;
    position: relative;
    left: auto;
    transform: none;
  }

  .div-block-7 {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    text-align: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .div-block-8, .div-block-8.left {
    justify-content: center;
    align-items: center;
  }

  .section-resource__item {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .title {
    font-size: 8em;
    top: -18px;
  }

  .heading {
    font-size: 28px;
    top: 40%;
  }

  .btn-stop-motion__p {
    text-align: center;
    font-size: 1.4em;
  }

  .paragraph-2.padding-top {
    font-size: 14px;
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container.white {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .heading-2 {
    font-size: 18px;
    line-height: 22px;
  }

  .accordion-css {
    padding-left: 0;
    padding-right: 0;
  }
}


